.dashicons-before.fa-menu::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dashicons {
    text-decoration: none !important;
}

#tagsdiv-amps_paiement_category {
    display: none;
}

.titan-framework-panel-wrap .tf-form-table {
    table-layout: auto;
}

.gestion-contrats_page_contrats_quantites_stats .titan-framework-panel-wrap .tf-form-table {
    table-layout: fixed;
}

.amapress-check a {
    color: black;
}

.tf-select-wrapper {
    /*margin-right: 50px;*/
    /*width: 100%;*/
    /*display: inline-block;*/
}

.tf-select-refresh {
    /*float: right;*/
}

.select2, select {
    min-width: 90%;
    max-width: 90%;
}

/*.ui-selectmenu-button {*/
/*width: 100% !important;*/
/*}*/

.option-link {
    color: #000033 !important;
}

#amps-state-accordion .state::before, .amapress-check .state::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: 'Dashicons';
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#amps-state-accordion .success::before, .amapress-check .success::before {
    color: green;
    content: '\f147';
}

#amps-state-accordion .error::before, .amapress-check .error::before {
    color: red;
    content: '\f158';
}

#amps-state-accordion .warning::before, .amapress-check .warning::before {
    color: orange;
    content: '\f227';
}

#amps-state-accordion .do::before, .amapress-check .do::before {
    color: gray;
    content: '\f107';
}

#amps-state-accordion .info::before, .amapress-check .info::before {
    color: gray;
    content: '\f107';
}

.amapress-check .values, .amapress-check .description {
}

.amapress-check-content {
    margin-left: 20px;
    padding-left: 5px;
    border-left: 1pt solid gray;
}

/*.adhesion_paiement_table {*/
/*width: 100%;*/
/*}*/

/*select.paiements_details {*/
/*width: 25%;*/
/*}*/
#adhesion_paiement_table td {
    font-size: 0.8em;
    padding: 5px;
    margin: 5px;
}

.paiement-date {
    padding-right: 1em;
    padding-left: 5px;
    width: auto;
    display: table-cell;
}

.paiement-quant {
    padding-right: 1em;
    padding-left: 5px;
    width: auto;
    display: table-cell;
}

.post-type-amps_adhesion .ui-selectmenu-menu ul {
    display: table;
    width: 100%;
    table-layout: auto;
}

.post-type-amps_adhesion .ui-selectmenu-menu li.ui-menu-item {
    display: table-row;
    width: 100%;
    float: none;
}

.post-type-amps_adhesion .ui-selectmenu-menu .ui-state-disabled {
    color: black;
    font-weight: bold;
    opacity: 1;
}

.paiement-amount {
    white-space: nowrap;
}

#paiement-amount-total.ok {
    color: green;
}

#paiement-amount-total.nok {
    color: red;
}

/*#side-sortables {*/
/*position: fixed;*/
/*}*/

.fixed .column-categories, .fixed .column-rel, .fixed .column-response, .fixed .column-role, .fixed .column-tags {
    width: auto !important;
}

.mailing-conf-link {
    border-top: 1pt solid #000;
    font-size: 0.8em;
}

.quant-conf label {
    display: inline-block;
    width: 30%;
}

.quant-conf input, .quant-conf select, .quant-conf textarea, .quant-conf .select2 {
    display: inline-block;
    width: 65%;
}

.tf-form-table {
    table-layout: fixed;
}

#profile-page .tf-form-table {
    table-layout: auto;
}

.column-thumb-preview img.attachment-thumbnail.size-thumbnail {
    max-width: 100%;
    height: initial;
}

.adhesion-date-error, .error * {
    font-weight: bold;
    color: red;
}

#createuser .tf-form-table {
    table-layout: auto !important;
}

#quant_editor_table, #quant_rattrapage {
    border-collapse: collapse;
    table-layout: auto !important;
}

#quant_editor_table td {
    border-collapse: collapse;
    margin: 0;
    padding: 2px;
    line-height: 1.1;
    vertical-align: top;
}

#quant_editor_table td {
    border-top: 1pt solid #000;
}

.form-table span.description {
    color: #aaa;
}

.nav-tab .badge {
    display: inline-block !important;
    min-width: 10px !important;
    padding: 3px 7px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    background-color: #999 !important;
    border-radius: 10px !important;
}

.ab-item .badge {
    display: inline-block !important;
    min-width: 10px !important;
    padding: 3px 7px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    background-color: #999 !important;
    border-radius: 10px !important;
}

.ab-item .dashicons {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 20px !important;
    font-family: dashicons !important;
    text-decoration: inherit !important;
    font-weight: 400 !important;
    font-style: normal !important;
    vertical-align: top !important;
    text-align: center !important;
    transition: color .1s ease-in 0 !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.button-import-model {
    margin: 0.5em !important;
}

.amapress-section-note {
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    background-color: #fff;
    padding: 5px 20px;
}

.widefat.elm-ignored-messages {
    table-layout: fixed;
    width: 100%;
}

.import-errors {
    white-space: pre-wrap;
}

.wp-sweep-admin-php .sweep-all {
    display: none;
}

.ph-check-error {
    font-weight: bold;
    color: red;
}

.repartitions-dates + .select2 {
    display: inline-block;
    min-width: auto;
!important;
}

.smart-word-break {
    word-break: break-word !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    -o-hyphens: auto !important;
    hyphens: auto !important;
}