/*
  Flaticon icon font: Flaticon
  Creation date: 04/09/2016 15:01
  */

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {*/
/*@font-face {*/
/*font-family: "Flaticon";*/
/*src: url("../fonts/Flaticon.svg#Flaticon") format("svg");*/
/*}*/
/*}*/

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    /*margin-left: 20px;*/
}

.flaticon-animal:before {
    content: "\f100";
}

.flaticon-animal-1:before {
    content: "\f101";
}

.flaticon-animal-2:before {
    content: "\f102";
}

.flaticon-animal-3:before {
    content: "\f103";
}

.flaticon-animal-4:before {
    content: "\f104";
}

.flaticon-animal-5:before {
    content: "\f105";
}

.flaticon-animal-6:before {
    content: "\f106";
}

.flaticon-animals:before {
    content: "\f107";
}

.flaticon-animals-1:before {
    content: "\f108";
}

.flaticon-animals-2:before {
    content: "\f109";
}

.flaticon-animals-3:before {
    content: "\f10a";
}

.flaticon-animals-4:before {
    content: "\f10b";
}

.flaticon-animals-5:before {
    content: "\f10c";
}

.flaticon-aubergine:before {
    content: "\f10d";
}

.flaticon-bananas:before {
    content: "\f10e";
}

.flaticon-barn:before {
    content: "\f10f";
}

.flaticon-barn-1:before {
    content: "\f110";
}

.flaticon-bee:before {
    content: "\f111";
}

.flaticon-bread:before {
    content: "\f112";
}

.flaticon-broccoli:before {
    content: "\f113";
}

.flaticon-buildings:before {
    content: "\f114";
}

.flaticon-buildings-1:before {
    content: "\f115";
}

.flaticon-business:before {
    content: "\f116";
}

.flaticon-business-1:before {
    content: "\f117";
}

.flaticon-business-2:before {
    content: "\f118";
}

.flaticon-carrot:before {
    content: "\f119";
}

.flaticon-carrot-1:before {
    content: "\f11a";
}

.flaticon-cheese:before {
    content: "\f11b";
}

.flaticon-cheese-1:before {
    content: "\f11c";
}

.flaticon-cherries:before {
    content: "\f11d";
}

.flaticon-chicken-hand-drawn-outline:before {
    content: "\f11e";
}

.flaticon-chilis-of-mexico-typical-hot-flavors:before {
    content: "\f11f";
}

.flaticon-cinema:before {
    content: "\f120";
}

.flaticon-cooking:before {
    content: "\f121";
}

.flaticon-cow:before {
    content: "\f122";
}

.flaticon-cut:before {
    content: "\f123";
}

.flaticon-eggplant:before {
    content: "\f124";
}

.flaticon-fair-stand:before {
    content: "\f125";
}

.flaticon-farm:before {
    content: "\f126";
}

.flaticon-farm-1:before {
    content: "\f127";
}

.flaticon-farm-tractor:before {
    content: "\f128";
}

.flaticon-farmer:before {
    content: "\f129";
}

.flaticon-fields:before {
    content: "\f12a";
}

.flaticon-fish:before {
    content: "\f12b";
}

.flaticon-flower:before {
    content: "\f12c";
}

.flaticon-food:before {
    content: "\f12d";
}

.flaticon-food-1:before {
    content: "\f12e";
}

.flaticon-food-10:before {
    content: "\f12f";
}

.flaticon-food-11:before {
    content: "\f130";
}

.flaticon-food-12:before {
    content: "\f131";
}

.flaticon-food-13:before {
    content: "\f132";
}

.flaticon-food-14:before {
    content: "\f133";
}

.flaticon-food-15:before {
    content: "\f134";
}

.flaticon-food-16:before {
    content: "\f135";
}

.flaticon-food-17:before {
    content: "\f136";
}

.flaticon-food-18:before {
    content: "\f137";
}

.flaticon-food-19:before {
    content: "\f138";
}

.flaticon-food-2:before {
    content: "\f139";
}

.flaticon-food-20:before {
    content: "\f13a";
}

.flaticon-food-21:before {
    content: "\f13b";
}

.flaticon-food-22:before {
    content: "\f13c";
}

.flaticon-food-23:before {
    content: "\f13d";
}

.flaticon-food-24:before {
    content: "\f13e";
}

.flaticon-food-25:before {
    content: "\f13f";
}

.flaticon-food-26:before {
    content: "\f140";
}

.flaticon-food-27:before {
    content: "\f141";
}

.flaticon-food-28:before {
    content: "\f142";
}

.flaticon-food-29:before {
    content: "\f143";
}

.flaticon-food-3:before {
    content: "\f144";
}

.flaticon-food-4:before {
    content: "\f145";
}

.flaticon-food-5:before {
    content: "\f146";
}

.flaticon-food-6:before {
    content: "\f147";
}

.flaticon-food-7:before {
    content: "\f148";
}

.flaticon-food-8:before {
    content: "\f149";
}

.flaticon-food-9:before {
    content: "\f14a";
}

.flaticon-fork:before {
    content: "\f14b";
}

.flaticon-fruit:before {
    content: "\f14c";
}

.flaticon-fruit-1:before {
    content: "\f14d";
}

.flaticon-fruit-2:before {
    content: "\f14e";
}

.flaticon-fruit-3:before {
    content: "\f14f";
}

.flaticon-fruit-4:before {
    content: "\f150";
}

.flaticon-fruit-5:before {
    content: "\f151";
}

.flaticon-garlic:before {
    content: "\f152";
}

.flaticon-garlic-1:before {
    content: "\f153";
}

.flaticon-grapes:before {
    content: "\f154";
}

.flaticon-honey:before {
    content: "\f155";
}

.flaticon-interface:before {
    content: "\f156";
}

.flaticon-interface-1:before {
    content: "\f157";
}

.flaticon-interface-2:before {
    content: "\f158";
}

.flaticon-list:before {
    content: "\f159";
}

.flaticon-list-1:before {
    content: "\f15a";
}

.flaticon-meat:before {
    content: "\f15b";
}

.flaticon-milk-products:before {
    content: "\f15c";
}

.flaticon-mill:before {
    content: "\f15d";
}

.flaticon-mushrooms:before {
    content: "\f15e";
}

.flaticon-nature:before {
    content: "\f15f";
}

.flaticon-nature-1:before {
    content: "\f160";
}

.flaticon-nature-2:before {
    content: "\f161";
}

.flaticon-nature-3:before {
    content: "\f162";
}

.flaticon-nature-4:before {
    content: "\f163";
}

.flaticon-note:before {
    content: "\f164";
}

.flaticon-notepad-sheet:before {
    content: "\f165";
}

.flaticon-pear:before {
    content: "\f166";
}

.flaticon-pen:before {
    content: "\f167";
}

.flaticon-people:before {
    content: "\f168";
}

.flaticon-pepper:before {
    content: "\f169";
}

.flaticon-potatoes:before {
    content: "\f16a";
}

.flaticon-radish:before {
    content: "\f16b";
}

.flaticon-radish-1:before {
    content: "\f16c";
}

.flaticon-rake:before {
    content: "\f16d";
}

.flaticon-raspberry:before {
    content: "\f16e";
}

.flaticon-restaurant:before {
    content: "\f16f";
}

.flaticon-salad:before {
    content: "\f170";
}

.flaticon-scarecrow:before {
    content: "\f171";
}

.flaticon-scissors:before {
    content: "\f172";
}

.flaticon-sheep:before {
    content: "\f173";
}

.flaticon-sheep-1:before {
    content: "\f174";
}

.flaticon-shovel:before {
    content: "\f175";
}

.flaticon-signature:before {
    content: "\f176";
}

.flaticon-soybean:before {
    content: "\f177";
}

.flaticon-sprout:before {
    content: "\f178";
}

.flaticon-steak:before {
    content: "\f179";
}

.flaticon-strawberry:before {
    content: "\f17a";
}

.flaticon-summer:before {
    content: "\f17b";
}

.flaticon-technology:before {
    content: "\f17c";
}

.flaticon-theater:before {
    content: "\f17d";
}

.flaticon-tool:before {
    content: "\f17e";
}

.flaticon-tractor:before {
    content: "\f17f";
}

.flaticon-tractor-1:before {
    content: "\f180";
}

.flaticon-tractor-side-view:before {
    content: "\f181";
}

.flaticon-transport:before {
    content: "\f182";
}

.flaticon-tree-silhouette:before {
    content: "\f183";
}

.flaticon-utensil:before {
    content: "\f184";
}

.flaticon-water:before {
    content: "\f185";
}

.flaticon-wheat:before {
    content: "\f186";
}