.produit-photo {
    float: left;
}

/*body:not(.search-results) article:not(.type-page) .entry-content  {*/
/*width: 100%;*/
/*float:none;*/
/*}*/

.btn {
    white-space: normal;
}

table.responsive {
    table-layout: auto !important;
}

/*th {*/
/*position: relative;*/
/*}*/
/*th span.dt-th-colspan {*/
/*display: block;*/
/*position: absolute;*/
/*left: 0;*/
/*right: 0;*/
/*white-space: nowrap;*/
/*text-overflow: ellipsis;*/
/*overflow: hidden;*/
/*}*/

.next-events {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.next-events h3 {
    padding-top: 0.5em;
    clear: none;
}

.slick-prev {
    left: 0 !important;
    z-index: 999 !important;
}

.slick-next {
    right: 0 !important;
    z-index: 999 !important;
}

.slick-prev:before {
    color: black !important;
}

.slick-next:before {
    color: black !important;
}

.slick-dots li button:before {
    color: black !important;
}

.slick-gallery-item {
    text-align: center;
    max-width: 100%;
}

.slick-gallery-item .thumbnail {
    /*width: 200px;*/
    /*display: inline-block;*/
    margin: 5px;
    position: relative;
    text-align: right;
}

.slick-gallery-item .thumbnail img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1pt solid #9d9d9d;
    padding: 3px;
    display: inline-block;
}

.slick-gallery-item .caption * {
    text-decoration: none !important;
    box-shadow: none !important;
}

.slick-gallery-item .caption {
    position: absolute;
    right: 3px;
    bottom: 3px;
    padding: 5px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
    max-width: 190px;
    border-top-left-radius: 5px;
}

.slick-gallery-item .caption h3 {
    margin-bottom: 0;
    font-size: 12px !important;
}

.slick-gallery {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/*.next-events .slick-slide {*/
/*display: none;*/
/*float: left;*/
/*height: auto;*/
/*min-height: 1px;*/
/*}*/

.event-month-sep {
    clear: both;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    position: relative;
}

.event {
    clear: both;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    min-height: 7em;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.event a {
    color: inherit;
    text-decoration: none;
}

.event:after {
    content: "";
    display: table;
    clear: both;
}

.evt-cnt-inner {
    margin: 5px 0;
    word-break: break-all;
}

.evt-cnt-inner:nth-child(1n+2) {
    border-top-style: solid;
    border-top-width: 1pt;
}

.evt-cnt {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.evt-date {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 6em;
    height: 6em;
    margin-right: 15px;
    padding-top: 0.5em;
    flex-shrink: 0;
}

a.evt-link img {
    width: 2.5em;
    height: 2.5em;
    display: inline !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a.evt-link {
    display: inline-block !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 4px;
    padding: 4px;
}

a.evt-link.evt-img {
    box-shadow: none !important;
}

.evt-lieu {
    /*padding-left: 3.5em;*/
    clear: both;
}

.evt-lieu .evt-lieu-cnt {
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    margin-top: 5px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*width: 50%;*/
}

.evt-lieu a {
    font-size: 0.8em;
}

.evt-hour {

}

.evt-type {
    padding-left: 4em;
    /*float: left;*/
}

.evt-type > * {
    float: left;
}

.visite-inscr-list .inscr-list-info, .visite-inscr-list .inscr-list-info > * {
    max-width: 10em;
    white-space: normal !important;
}

.evt-hours {
    font-weight: bold;
    float: left;
    width: 4em;
    text-align: center;
}

.evt-hour-sep {
    line-height: 1;
    font-size: 0.6em;
}

.evt-panier-intermittent {
    font-weight: bold;
    padding-left: 4.5em;
}

.evt-panier-intermittent a {
    font-size: 0.8em;
}

.next-events li {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    border-radius: 5px;
}

.contrat-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.entry-content ul.contrat-list {
    padding-left: 0;
}

.contrat-list li {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    border-radius: 5px;
    clear: both;
    min-height: 7em;
}

.contrat-list .contrat-img {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.contrat-list .contrat-img img {
    /*border-radius: 50%;*/
    width: 6em;
    height: 6em;
}

.contrat-list .contrat-desc {
    display: flex;
    align-items: center;
    min-height: 6em;
}

.user-photo img {
    border-radius: 50%;
}

.error {
    color: red;
    font-weight: bold;
}

.user {
    text-align: center;
}

/*.next-events a:hover {*/
/*text-decoration: underline;*/
/*}*/

/*.next-events a {*/
/*box-shadow: none !important;*/
/*color:inherit;*/
/*}*/

a.btn {
    box-shadow: none !important;
    /*color:inherit;*/
}

.amap-preinscr-norenew {
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    border: 1pt solid;
}

.amap-panel {
    margin: 15px;
    border-radius: 15px;
    border: 1pt solid;
}

.amap-panel-heading {
    border-bottom: 1pt solid;
}

.amap-panel-title {
    padding: 15px;
    font-size: 1.5em;
    margin: 0 !important;
}

h3.amap-panel-title {
    margin-bottom: 0;
}

.amap-panel-body {
    margin: 15px;
}

.no-list {
    list-style-type: none;
}

#amapress_impersonation_control {
    position: absolute;
    right: 0;
    top: 32px;
    background-color: #1b6d85;
    border: 1px solid #23282d;
    z-index: 99999;
    padding: 5px;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    vertical-align: baseline;
}

#amapress_impersonation_user, #amapress_impersonation_date {
    color: #080808;
    opacity: 1;
}

#amapress_impersonation_user[disabled], #amapress_impersonation_date[disabled] {
    color: #555555;
    background-color: #e0e0e0;
}

.entry-content ul {
    padding-left: 1.5em;
}

.tab-content {
    padding: 1em;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 4px;
}

header.site-header {
    padding: 0 4.5455%
}

.post-thumbnail img {
    float: left;
    max-width: 150px;
}

.front-page {
    padding-top: 2em;
    clear: both;
}

ul.quantite-list, ul.lieu-list, ul.paiement-list {
    list-style-type: none;
}

ul.quantite-list div.radio, ul.lieu-list div.radio, ul.paiement-list div.radio {
    /*display: inline-block;*/
}

ul.quantite-list .radio, ul.lieu-list .radio, ul.paiement-list .radio {
    margin-top: 0;
}

ul.quantite-list label, ul.lieu-list label, ul.paiement-list label {
    margin-right: 15px;
}

ul.lieu-list, ul.lieu-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paiement-list, ul.paiement-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
    /*margin-right: 15px;*/
}

ul.quantite-list ul.paiement-list {
    margin-left: 30px;
}

.contrat-public input[type=radio]:disabled + label {
    opacity: 1;
}

.quantite.active > .radio > input[type=radio]:disabled + label,
.paiement.active > .radio > input[type=radio]:disabled + label,
.lieu.active > .radio > input[type=radio]:disabled + label {
    opacity: 1;

}

.adhesion .paiement, .adhesion .quantite, .adhesion .lieu {
    text-decoration: line-through;
}

.paiement.active, .quantite.active, .lieu.active {
    text-decoration: none;
}

.first-dist-date, .last-dist-date, .price-total, .price-per-unit, .count-dates {
    font-weight: bold;
}

.dist-lieu-photo + h3 {
    clear: none;
}

.dist-lieu-photo {
    float: left;
    margin-right: 5pt;
}

.amap-panel-body::after {
    content: "";
    display: block;
    clear: both;
}

.dist-panier-contrat-img, .dist-panier-quantite-img {
    max-width: 48px;
}

.amap-button-echanger {
    float: right;
}

.resp-distribution {
    color: orange;
}

@media screen and (min-width: 61.5625em) {
    body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
        margin-left: 5% !important;
        width: 80% !important;
    }

    body.no-sidebar:not(.search-results) article:not(.type-page) .entry-header {
        margin-left: 5% !important;
        width: 80% !important;
    }

    body.no-sidebar:not(.search-results) article:not(.type-page) .entry-footer {
        clear: both !important;
    }

    .header-image {
        text-align: center;
    }
}

.distrib-resp-missing {
    color: orange;
}

.distrib-not-part-of {

}

.distrib-inscr-closed {

}

.distrib-inscr-lieu {
    text-align: center;
}

.inscr-list-date {
    margin: 0 !important;
}

.inscr-list-contrats {
    font-weight: normal;
    font-size: 90%;
}

.success {
    color: green;
}

table .user-profile-info {
    display: inline-block;
}

.user-profile-info {
    text-align: center;
}

.incr-list-resp {
    text-align: center;
    vertical-align: middle;
}

.dist-inscrire-button {
    /*width: 100%;*/
}

.distrib-resp-head {
    text-align: center;
}

.participant {
    display: inline-block;
}

.panier-exchanged {
    color: green;
}

.panier-to-exchange {
    color: orange;
}

.incr-list-resp {
    text-align: center;
}

/*.resp-col {*/
/*/!*float: left;*!/*/
/*display: inline-block;*/
/*padding: 3px;*/
/*}*/
/*.resp-col-1 {*/
/*width: 80%;*/
/*}*/
/*.resp-col-2 {*/
/*width: 40%;*/
/*}*/
/*.resp-col-3 {*/
/*width: 22%;*/
/*}*/
/*.resp-col-4 {*/
/*width: 20%;*/
/*}*/

/*.distrib-inscr-list td:after {*/
/*content: "";*/
/*display: table;*/
/*clear: both;*/
/*}*/

a.bbp-author-avatar img.avatar {
    display: inline;
}

.subscription-toggle {
    float: right;
}

.post-it {
    border-style: solid;
    border-width: 1pt;
    /*border: 1pt solid;*/
    display: inline-block;
    /*background-color: #f5e79e;*/
    width: 150px;
    margin: 5px;
    text-align: center;
}

.post-it h4 {
    /*background-color: #d3c05a;*/
    padding: 5px;
    text-transform: none !important;
    font-size: 1rem !important;
}

.post-it-content {
    padding: 5px;
}

.btn-abonnement {
    margin-top: 5px;
}

.recette-auteur {
    margin-top: 5px;
    margin-right: 15px;
    text-align: right;
}

#menu-item-amapress-mes-infos, #menu-item-amapress-connecter {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*.btn-print-liste {*/
/*float: right;*/
/*}*/

.inscription-distrib-other-user {
    border-top: 1pt solid black;
    padding: 0;
    margin: 0;
}

.inscr-list-lieux-substitution {
    font-weight: bold;
}

.contrat-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.role-distrib-desc {
    font-size: 0.7em;
    font-weight: normal;
}

.ab-item .badge {
    display: inline-block !important;
    min-width: 10px !important;
    padding: 3px 7px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    background-color: #999 !important;
    border-radius: 10px !important;
}

.ab-item .dashicons {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 20px !important;
    font-family: dashicons !important;
    text-decoration: inherit !important;
    font-weight: 400 !important;
    font-style: normal !important;
    vertical-align: top !important;
    text-align: center !important;
    transition: color .1s ease-in 0 !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.iso-gallery {
    margin: 5px 0;
    box-sizing: border-box;
}

.iso-gallery * {
    box-sizing: border-box;
}

/* clear fix */
.iso-gallery:after {
    content: '';
    display: block;
    clear: both;
}

.iso-gallery-item .user-name {
    height: 2em;
}

.iso-gallery-item .user-photo {
    height: 96px;
}

.iso-gallery-item .user-role {
    margin-top: 0;
    padding-top: 5px;
    font-size: 0.8em;
    font-style: italic;
}

.iso-gallery-sizer, .iso-gallery-item {
    width: 33.333%;
}

@media screen and (max-width: 480px) {
    .iso-gallery-sizer, .iso-gallery-item {
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .iso-gallery-sizer, .iso-gallery-item {
        width: 20%;
    }
}

.recette-tags {
    margin: 0;
    padding: 0;
    font-size: 10px !important;
}

.iso-gallery-item .thumbnail {
    /*width: 200px;*/
    /*display: inline-block;*/
    margin: 5px;
    position: relative;
    text-align: right;
}

.iso-gallery-item .thumbnail img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1pt solid #9d9d9d;
    padding: 3px;
    display: inline-block;
}

.iso-gallery-item .caption * {
    text-decoration: none !important;
    box-shadow: none !important;
}

.iso-gallery-item .caption {
    position: absolute;
    right: 3px;
    bottom: 3px;
    padding: 5px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
    max-width: 190px;
    border-top-left-radius: 5px;
    overflow: hidden !important;
    max-height: 2em !important;
}

.iso-gallery-item .caption h3 {
    margin-bottom: 0;
    font-size: 12px !important;
}


table.docspace_list a.name {
    text-decoration: underline !important;
    box-shadow: none !important;
}

table.docspace_list th a {
    padding-left: 0
}

table.docspace_list td:first-of-type a {
    background: url(../images/file.png) no-repeat 10px 50%;
    padding-left: 35px;
    text-decoration: underline !important;
}

table.docspace_list th:first-of-type {
    padding-left: 35px;
}

table.docspace_list td:not(:first-of-type) a {
    background-image: none !important;
}

/* icons for file types (icons by famfamfam) */

/* images */
table.docspace_list tr td:first-of-type a[href$=".jpg"],
table.docspace_list tr td:first-of-type a[href$=".png"],
table.docspace_list tr td:first-of-type a[href$=".gif"],
table.docspace_list tr td:first-of-type a[href$=".svg"],
table.docspace_list tr td:first-of-type a[href$=".jpeg"] {
    background-image: url(../images/image.png);
}

/* zips */
table.docspace_list tr td:first-of-type a[href$=".zip"] {
    background-image: url(../images/zip.png);
}

/* css */
table.docspace_list tr td:first-of-type a[href$=".css"] {
    background-image: url(../images/css.png);
}

/* docs */
table.docspace_list tr td:first-of-type a[href$=".odt"],
table.docspace_list tr td:first-of-type a[href$=".ods"],
table.docspace_list tr td:first-of-type a[href$=".odp"],
table.docspace_list tr td:first-of-type a[href$=".doc"],
table.docspace_list tr td:first-of-type a[href$=".docx"],
table.docspace_list tr td:first-of-type a[href$=".ppt"],
table.docspace_list tr td:first-of-type a[href$=".pptx"],
table.docspace_list tr td:first-of-type a[href$=".pps"],
table.docspace_list tr td:first-of-type a[href$=".ppsx"],
table.docspace_list tr td:first-of-type a[href$=".xls"],
table.docspace_list tr td:first-of-type a[href$=".xlsx"] {
    background-image: url(../images/office.png)
}

/* videos */
table.docspace_list tr td:first-of-type a[href$=".avi"],
table.docspace_list tr td:first-of-type a[href$=".wmv"],
table.docspace_list tr td:first-of-type a[href$=".mp4"],
table.docspace_list tr td:first-of-type a[href$=".mov"],
table.docspace_list tr td:first-of-type a[href$=".m4a"] {
    background-image: url(../images/video.png);
}

/* audio */
table.docspace_list tr td:first-of-type a[href$=".mp3"],
table.docspace_list tr td:first-of-type a[href$=".ogg"],
table.docspace_list tr td:first-of-type a[href$=".aac"],
table.docspace_list tr td:first-of-type a[href$=".wma"] {
    background-image: url(../images/sound.png);
}

/* web pages */
table.docspace_list tr td:first-of-type a[href$=".html"],
table.docspace_list tr td:first-of-type a[href$=".htm"],
table.docspace_list tr td:first-of-type a[href$=".xml"] {
    background-image: url(../images/xml.png);
}

table.docspace_list tr td:first-of-type a[href$=".php"] {
    background-image: url(../images/php.png);
}

table.docspace_list tr td:first-of-type a[href$=".js"] {
    background-image: url(../images/script.png);
}

/* directories */
table.docspace_list tr.dir td:first-of-type a {
    background-image: url(../images/folder.png);
}

.resp-distribution-contacts > .amap-panel {
    display: inline-block;
}

.resp-distribution-contacts, .resp-distribution-contacts .amap-panel-title {
    font-size: 0.8em;
}

.smart-word-break {
    word-break: break-word !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    -o-hyphens: auto !important;
    hyphens: auto !important;
}


.dataTables_scrollBody::-webkit-scrollbar {
    -webkit-appearance: none;
}

.dataTables_scrollBody::-webkit-scrollbar:vertical {
    width: 11px;
}

.dataTables_scrollBody::-webkit-scrollbar:horizontal {
    height: 11px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, 0.5);
}

.dataTables_scrollBody table.dataTable {
    margin: 0 !important;
}

::-webkit-input-placeholder { /* Edge */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}

::placeholder {
    font-style: italic;
}

#quant-commandes td.date-odd {
    background-color: #ccc;
}

#quant-commandes td.date-even {
    background-color: #fff;
}

#quant-commandes td.odd {
    background-color: #ccc;
}

#quant-commandes td.even {
    background-color: #fff;
}

#details_all_delivs .dtrg-group + .dtrg-group {
    display: none;
}